<div{{ attributes }}>
    <input type="number" data-model="counter">
    <br>
    Count: {{ counter }}

    <hr>

    <div {{ stimulus_controller('hello') }}>
         <button {{ stimulus_action('hello', 'addStuff') }}>Add Stuff</button>
    </div>
</div>
